<img class="banner" src="assets/banners/footer-banner-aufc.jpeg" alt="" />
<div
  style="
    padding: 80px 0 58px;
    display: flex;
    background-color: #f7f8f9;
    overflow-x: hidden;
  "
>
  <div class="default-padding">
    <div class="left" style="flex: 0 0 35%">
      <img style="margin-bottom: 88px" src="assets/logos/logo.png" alt="" />
      <div class="footer-contact">
        <div>
          <p>Contacts:</p>
          <ul>
            <li>+44 11 3733 5199（Europe）</li>
            <li>+852 3704 4241（Asia）</li>
            <li>+65 6011 1415 (Asia - Singapore)</li>
            <li>+86 400 8427 539 (Asia - China Region)</li>
          </ul>
        </div>
        <div>
          <p>Email Address:</p>
          <ul>
            <li>en.sales@dooprime.com（Account Manager）</li>
            <li>en.support@dooprime.com（Technical Support）</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-navbar" style="flex: 1">
    <ul class="footer-primary-menu">
      <div class="navbar-item has-dropdown">
        <a class="navbar-link" href=""><span>Market</span></a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="#"><span>Securities</span></a>
          <a class="navbar-item" href="#"><span>Futures</span></a>
          <a class="navbar-item" href="#"><span>Forex</span></a>
          <a class="navbar-item" href="#"><span>Precious Metals</span></a>
          <a class="navbar-item" href="#"><span>Commodities</span></a>
          <a class="navbar-item" href="#"><span>Stock Indices</span></a>
        </div>
      </div>

      <div class="navbar-item has-dropdown">
        <a class="navbar-link" href="?#"><span>Tools</span></a>
        <div class="navbar-dropdown">
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Trading Platform</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#"><span>MetaTrader 4</span></a>
              <a class="navbar-item" href="#"><span>MetaTrader 5</span></a>
              <a class="navbar-item" href="#"><span>MT4 vs MT5</span></a>
              <a class="navbar-item" href="#"><span>Doo Prime InTrade</span></a>
              <a class="navbar-item" href="#"><span>TradingView</span></a>
              <a class="navbar-item" href="#"><span>FIX API 4.4</span></a>
            </div>
          </div>
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Social Trading</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#"><span>Outrade</span></a>
              <a class="navbar-item" href="#"><span>Myfxbook</span></a>
              <a class="navbar-item" href="#"><span>FOLLOWME</span></a>
            </div>
          </div>
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Analysis</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#"><span>Trading Central</span></a>
              <a class="navbar-item" href="#">
                <span>Economic Calendar</span></a
              >
            </div>
          </div>
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Trading Tools</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#"><span>VPS</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-item has-dropdown">
        <a class="navbar-link" href="?#"><span>Trading</span></a>
        <div class="navbar-dropdown">
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#">
              <span>Transaction overview</span></a
            >
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#"><span>Pricing Model</span></a>
              <a class="navbar-item" href="#"><span>Technology</span></a>
              <a class="navbar-item" href="#">
                <span>Accounts Comparison</span></a
              >
              <a class="navbar-item" href="#"><span>Funding</span></a>
            </div>
          </div>
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Trading Conditions</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                <span>Contract Specifications</span></a
              >
              <a class="navbar-item" href="#"><span>Trading Calendar</span></a>
              <a class="navbar-item" href="#"><span>Leverage</span></a>
              <a class="navbar-item" href="#">
                <span>Overnight Interest</span></a
              >
              <a class="navbar-item" href="#"><span>Dividend</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-item has-dropdown">
        <a class="navbar-link" href="?#"><span>Partnership</span></a>
        <div class="navbar-dropdown">
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Promotion</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#"><span>Points Mall</span></a>
              <a class="navbar-item" href="#">
                <span>DooTrader Trading Competition</span></a
              >
            </div>
          </div>
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="?#"><span>Partners</span></a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                <span>Introducing Brokers</span></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-item has-dropdown">
        <a class="navbar-link" href="?#"><span>About Us</span></a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="#"><span>Our Story</span></a>
          <a class="navbar-item" href="?#">
            <span>Corporate Social Responsibility</span></a
          >
          <a class="navbar-item" href="#"><span>Media Center</span></a>
          <a class="navbar-item" href="#"><span>Compliance</span></a>
          <a class="navbar-item" href="#"><span>Contact us</span></a>
          <a class="navbar-item" href="#"><span>Careers</span></a>
          <a class="navbar-item" href="#"><span>Help Centre</span></a>
        </div>
      </div>
    </ul>
  </div>
</div>
<div class="footer-compliance">
  <div class="container">
    <p class="compliance-title">Compliance</p>
    <div class="compliance-content">
      <p>Please read the following Compliance Disclosure carefully</p>
      <p>This website is owned and operated by Doo Prime Vanuatu Limited.</p>
      <p>
        The website can be accessed globally and is not specific to any entity.
        This is mainly for the convenience of centralized display and comparison
        of information. Your actual rights and obligations will be determined
        based on the entity and jurisdiction that you choose to be regulated.
      </p>
      <p>
        You must be of at least 18 years old before you can access our website
        products and services. By accessing our website, you confirm you are an
        individual of full age and capacity.
      </p>
      <p>
        There may be local laws and regulations which prohibit or limit your
        rights to access, download, distribute, disseminate, share or otherwise
        use any or all of the documents and information published on this
        website.
      </p>
    </div>
  </div>
</div>
<div class="footer-tab is-hidden-touch">
  <div class="default-padding">
    <div class="tab-links is-flex">
      <span class="tab-link">High Risk Trading Products Risk Disclosure</span>
      <span class="tab-link">Brand and Entity Notice</span>
      <span class="tab-link">Client Notice</span>
      <span class="tab-link">Doo Entities Notice</span>
    </div>
    <div class="tab-content">
      <p>
        Securities,&nbsp;Futures, CFDs and other financial products involve high
        risks due to the fluctuation in the value and prices of the underlying
        financial instruments. Due to the adverse and unpredictable market
        movements, large losses exceeding your initial investment could incur
        within a short period of time.&nbsp;
      </p>
      <p>
        Past performance of an investment is not an indication of its
        performance in the future.&nbsp;Please read the compliance documents
        available on our website.&nbsp;
      </p>
      <p>
        Please make sure you&nbsp;fully understand the risks of trading with the
        respective financial instrument before engaging in any transactions with
        us. You&nbsp;should seek independent professional advice if you do not
        understand the risks explained herein.
      </p>
    </div>
    <div class="tab-content">
      <p>
        Doo Prime, Doo Financial, Peter Elish, Doo Clearing, Doo Tech, Doo
        Consulting and Doo Exchange are trading names, trademarks and
        intellectual properties of Doo Group.&nbsp;
      </p>
      <p>
        We have a variety of regulated and licensed entities in different
        jurisdictions to provide relevant financial services. You can choose to
        establish business relationships with any of our entities. Please bear
        in mind that the entity chosen meant that your trading accounts, trading
        activities and funds shall be governed and regulated by its respective
        regulatory authority only.
      </p>
      <p>
        We do not offer our services to individuals or companies of certain
        jurisdictions, including but not limited to Afghanistan, Azerbaijan,
        Bosnia and Herzegovina, Burundi, Cameroon, Canada, Central African
        Republic, Chad, Congo (Brazzaville), Congo (Kinshasa), Cuba, Equatorial
        Guinea, Eritrea, Ethiopia, Guinea-Bissau, Guyana, Haiti, Hong Kong, Iran
        , Iraq, Israel, Lebanon, Libya, Malaysia, Mali, Nicaragua, North Korea,
        Singapore, Somalia, South Sudan, Sri Lanka, Sudan, Syria, Tajikistan,
        Trinidad and Tobago, Tunisia, Turkmenistan, United Arab Emirates, United
        States, Venezuela, Yemen, Zimbabwe.&nbsp;The information and services on
        our website are not applicable and shall not be provided to country or
        jurisdiction where such distribution of information and services are
        contrary to the respective local statutes and regulations. Visitors from
        the above regions should confirm whether your decision to invest in our
        services is in accordance with the statutes and regulations in your
        country or jurisdiction before you use our services.&nbsp;We reserve our
        rights to vary, amend or discontinue our products and services at any
        time.&nbsp;
      </p>
    </div>
    <div class="tab-content">
      <p>
        Any trading symbols displayed herein are for illustrative purposes only
        and shall not constitute any advice or recommendation by us.&nbsp;Any
        comments, statements, data, information, material or third party
        material (“Material”) provided on this website are for reference
        purposes only. The Material is used solely for the purposes of marketing
        communication and does not contain, and shall not be construed as
        investment advice and/or an investment recommendation for any
        transactions. While we took all reasonable efforts to ensure the
        accuracy and completeness of the information, we make no representations
        and warranties to the Material and shall not be liable for any loss,
        including but not limited to loss of profit, direct or indirect loss or
        damages for any inaccuracies and incompleteness from the information
        provided. You shall only use the Material for personal use and shall not
        reproduce, copy, redistribute and/or license the Material without our
        consent.
      </p>
      <p>
        We use cookies on our websites to customize the information and
        experience displayed on our website according to your preferences.
        &nbsp;By accessing this website, you acknowledge that you have read and
        agreed to the details above and agreed to our use of cookies.
      </p>
      <p>
        We strictly comply with all applicable laws and regulations in
        jurisdictions. It is your responsibility to determine and ensure that
        your investment meets your requirements. You undertake to bear all the
        consequences of your investment and trading activities.
      </p>
    </div>
    <div class="tab-content footer-entities">
      <div class="entity">
        <h6 class="entity-title">Elish &amp; Elish Inc</h6>
        <div class="entity-content">
          <p>
            It is a limited company with the registered office at 5049 Edwards
            Ranch Road, Suite 400, Fort Worth, TX 76109, United States.
          </p>
          <p>
            It is a broker-dealer registered with the US Securities and Exchange
            Commission (US SEC) and Financial Industry Regulatory Authority
            (FINRA) with the regulation number SEC: 8-41551 and CRD: 24409
            respectively.
          </p>
          <p>
            Peter Elish Investments Securities is an authorised trading name by
            Elish &amp; Elish Inc.
          </p>
        </div>
        <div class="entity-link">
          <a href="https://www.doofinancial.com/">www.doofinancial.com</a><br />
          <a href="https://www.elish.com/">www.elish.com </a>
        </div>
      </div>

      <div class="entity">
        <h6 class="entity-title">Doo Clearing Limited</h6>
        <div class="entity-content">
          <p>
            It is a limited company with the registered office at 208 Uxbridge
            Road, Shepherds Bush, London, England, W12 7JD, and the company
            registration number is 10684079.
          </p>
          <p>
            Doo Clearing Limited is a futures and forex broker and liquidity
            provider, authorized and regulated by the Financial Conduct
            Authority (FCA), and the regulatory number is 833414.
          </p>
        </div>
        <div class="entity-link">
          <a href="https://www.dooclearing.co.uk/">www.dooclearing.co.uk</a>
        </div>
      </div>

      <div class="entity">
        <div class="entity-title">Doo Financial Australia Limited</div>
        <div class="entity-content">
          <p>
            It is a company with the registered office at Level 4, 28-34
            O'Connell Street, Sydney NSW 2000, and the Australian Company Number
            is 100 139 820.
          </p>
          <p>
            Doo Financial Australia Limited is an Australian financial services
            licensee, regulated by the Australian Securities &amp; Investments
            Commission, and the regulatory number is 222650.
          </p>
        </div>
        <div class="entity-link">
          <a href="https://www.doofinancial.com.au/">www.doofinancial.com.au</a>
        </div>
      </div>

      <div class="entity">
        <div class="entity-title">Doo Consulting Limited</div>
        <div class="entity-content">
          <p>
            It is a limited company with the registered office at Unit A, 25/F,
            Tower B, Billion Centre, No.1 Wang Kwong Road, Kowloon Bay, Hong
            Kong, and the company registration number is 2601567.
          </p>
          <p>
            Doo Consulting Limited is a licensed trust or company service
            provider, authorized by Company Registry in Hong Kong, and the
            license number is TC006709.
          </p>
        </div>
      </div>

      <div class="entity">
        <div class="entity-title">Doo Holding Group Limited</div>
        <div class="entity-content">
          <p>
            It is a limited company with the registered office at Unit A, 25/F,
            Tower B, Billion Centre, No.1 Wang Kwong Road, Kowloon Bay, Hong
            Kong, and the company registration number is 2169884.
          </p>
          <p>
            Doo Holding Group Limited is a licensed money service operator,
            authorized by Customs and Excise Department, HKSAR and license
            number is 18-06-02444.
          </p>
        </div>
        <div class="entity-link">
          <a href="#">www.dooexchange.com</a>
        </div>
      </div>

      <div class="entity">
        <div class="entity-title">Doo Prime Seychelles Limited</div>
        <div class="entity-content">
          <p>
            It is a limited liability company with its registered office at Room
            B11, 1st Floor Providence Complex, Providence, Mahe, Seychelles with
            company registration number 8427202-1.
          </p>
          <p>
            Doo Prime Seychelles Limited is a licensed securities dealer, and is
            authorized and regulated by the Seychelles Financial Services
            Authority (FSA) under regulatory number SD090.
          </p>
        </div>
        <div class="entity-link"><a href="#">www.dooprime.sc</a><br /></div>
      </div>

      <div class="entity">
        <div class="entity-title">Doo Prime Mauritius Limited</div>
        <div class="entity-content">
          <p>
            It is a limited company with a registered office at Lot 15 A3, 1st
            Floor, Cybercity, Ebene 72201, Mauritius and the business
            registration number is 172054
          </p>
          <p>
            Doo Prime Mauritius Limited is a licensed investment dealer,
            authorized and regulated by the Mauritius Financial Services
            Commission(FSC), and the regulatory number is C119023907.
          </p>
        </div>
        <div class="entity-link">
          <a href="#">www.dooprime.mu</a>
        </div>
      </div>

      <div class="entity">
        <div class="entity-title">Doo Prime Vanuatu Limited</div>
        <div class="entity-content">
          <p>
            It is a limited company with a registered office at Govant Building,
            Po Box 1276, Port Vila, Vanuatu and the business registration number
            is 700238.
          </p>
          <p>
            Doo Prime Vanuatu Limited is a licensed financial dealer, authorized
            and regulated by the Vanuatu Financial Services Commission(FSC), and
            the regulatory number is 700238.
          </p>
        </div>
        <div class="entity-link">
          <a href="#">www.dooprimeglobal.com</a><br />
          <a href="#">www.dooprime.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="footer-bottom-nav"
  style="padding: 72px 0 24px; background-color: #eff1f3"
>
  <div>
    <ul
      style="
        display: flex;
        justify-content: center;
        list-style: none;
        box-sizing: border-box;
      "
    >
      <li>
        <a href="#" target="_blank">Client Agreement</a>
      </li>
      <li>
        <a href="#" target="_blank">AML &amp; CTF Policy</a>
      </li>
      <li>
        <a href="#" target="_blank">Execution Policy</a>
      </li>
      <li>
        <a href="#" target="_blank">Refund Policy</a>
      </li>
      <li>
        <a href="#" target="_blank">Risk Acknowledgement</a>
      </li>
      <li>
        <a href="#" target="_blank">Privacy Policy</a>
      </li>
      <li>
        <a href="#" target="_blank">Website T&amp;C</a>
      </li>
      <li class="sitemap-label-mobile">Sitemap</li>
    </ul>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <p>
      This website is owned and operated by Doo Prime Vanuatu Limited (Company
      No. 700238). © 2022 Doo Prime. All Rights Reserved.
    </p>
  </div>
</div>
