<div class="default-padding" style="padding-top: 164px">
  <div
    class="d-flex justify-content-center"
    style="font-size: 48px; line-height: 64px; letter-spacing: 1.5px"
  >
    Top-Notch Trading Environment
  </div>
  <div
    class="d-flex justify-content-center"
    style="
      padding: 14px 0 20px 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 1.5px;
    "
  >
    Enjoy Profitable Returns on Global Investment Transactions
  </div>
  <div style="padding: 80px 0">
    <div class="d-flex">
      <div class="grid-top">
        <img class="env-img" src="assets/env/env-1.webp" alt="" />
        <div class="env-title">Multiple Strict Regulations</div>
        <div class="env-desc">
          Doo Prime is strictly regulated by multinational financial
          institutions such as Seychelles FSA, Mauritius FSC and Vanuatu FSC.
        </div>
      </div>
      <div class="grid-top grid-verticle-line">
        <img class="env-img" src="assets/env/env-2.webp" alt="" />
        <div class="env-title">Ultra-Low Spreads</div>
        <div class="env-desc">
          We offer minimized transactions costs with tight spreads as low as 0.1
          pips.
        </div>
      </div>
      <div class="grid-top">
        <img class="env-img" src="assets/env/env-3.webp" alt="" />
        <div class="env-title">> 10,000 Trading Products</div>
        <div class="env-desc">
          Enjoy endless trading opportunities with access to more than 10,000
          CFDs
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="grid-bottom">
        <img class="env-img" src="assets/env/env-4.webp" alt="" />
        <div class="env-title">24*7*365 <br>Professional Support</div>
        <div class="env-desc">
          Doo Prime boasts a dedicated 500+ strong team of trained professionals
          to provide 365 days of top-of-the-line support
        </div>
      </div>
      <div class="grid-bottom grid-verticle-line">
        <img class="env-img" src="assets/env/env-5.webp" alt="" />
        <div class="env-title">Ultra Low Latency</div>
        <div class="env-desc">
          Robust IT infrastructure and network by Equinix, enabling 99.5% of
          trade transactions done in 50 ms.
        </div>
      </div>
      <div class="grid-bottom">
        <img class="env-img" src="assets/env/env-6.webp" alt="" />
        <div class="env-title">Ultra Low Latency</div>
        <div class="env-desc">
          Start trading with minimal capital and maximize your trading profits
          with flexible leverage of up to 1:500.
        </div>
      </div>
    </div>
  </div>
</div>
