<div class="default-padding nav-bar-menu">
  <a href="#"> Free Demo </a>
  <span style="padding: 0 24px; color: red"> | </span>
  <span class="dropdown-language">
    <a href="#" style="display: inline-flex; vertical-align: middle">
      Language
      <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <div class="lang-list">
      <a href="#">English</a>
      <a href="#">简体中文</a>
      <a href="#">繁體中文</a>
      <a href="#">日本語</a>
      <a href="#">한국어</a>
      <a href="#">ไทย</a>
      <a href="#">Tiếng Việt</a>
    </div>
  </span>
</div>
<app-menu></app-menu>

